*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(23, 74, 116);
    font-family: Arial;
}

.title{
    color: #fff;
    padding: 10px;
    font-size: 24px;
}

.form{
    z-index: 1;
    position: absolute;
    width: 320px;
    text-align: center;
    margin-top: 50px;
}
.form i{
    z-index: 1;
    color: #ccc;
    font-size: 65px;
    margin-bottom: 30px;
}

.form .user-input{
    width: 320px;
    height: 55px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.979);
    color: rgb(250, 95, 95);
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    transition: 0.1s;
    transition-property: border-left, boder-right, box-shadow;
}
.form .user-input:hover, .form .user-input:focus, .form .user-input:active{
    border-left: solid 8px #fd0606;
    border-right: solid 8px #002f7a;
    /* box-shadow: 0 0 100px rgba(66, 133, 244, 0.8); */

}
.form .options-01{
    margin-bottom: 50px;
}
.form .options-01 input{
    width: 15px;
    height: 15px;
    margin-right: 5px;

}
.form .options-01 .remember-me{
    color: #bbb;
    font-size: 14px;
    display: flex;
    align-items: center;
    float: left;
    cursor: pointer;
}
.form .options-01 a{
    color: #888;
    font-size: 14px;
    font-style: italic;
    float: right;
}
.form .btn{
    outline: none;
    border: none;
    width: 320px;
    height: 55px;
    background: #4285f4;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: border-left, border-right, box-shadow;
}
.form .btn:hover{
    border-left:solid 8px rgba(255, 255, 255, 0.5);
    border-right:solid 8px rgba(255, 255, 255, 0.5);
   /* box-shadow: 0 0 100px rgb(66, 133, 244, 0.8); */
   background: rgb(253, 25, 25);
   color: #fff;

}
.form .options-02{
    color: #4285f4;
    font-size: 14px;
}
.form .options-03{
    color: #edf1f8;
    font-size: 14px;
}
.notice{
    color: rgb(252, 164, 50);
    font-size: 16px;
  

}
.notice-2{
    color: rgb(233, 236, 11);
    font-size: 14px; 
    padding: 10px;
}



@media screen and (max-width: 500px){
    .form{
        width: 95%;
    }

    .form .user-input{
        width: 100%;
    }
    .form .btn{
        width: 100%;
    }
}
/* master styles */


/* nav styles */
.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 38px;

}

.left-side{
    display: flex;
  
}
.right-side{
    display: flex;
   
}
.nav-wrapper>.left-side > div{
    margin-right: 20px;
    font-size: .9em;
    text-transform: uppercase;

}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}
.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black
}
.nav-link-wrapper a:hover{
    color:  black;
}

.navright{
    display: flex;
    
    }
    .navleft{
      display: flex;
    
    }
    .navbar{
        margin-top: 0;
        display:flex;
        justify-content: space-between;
        padding: 20px;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: #4285f4;
        color: rgb(214, 28, 28);
    }
    .navitem{
        color: blueviolet;
    }
    





    