*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Arial';
    

}

.sidebar{
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #008ea1;
    z-index: 100;
    transition: width 300ms;

}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 0rem 2rem;
    margin-bottom: 1px;

    
}
.sidebar-brand span{
    display: inline-block;
    margin-right: 1rem;

}
.lang{
    display: block;
    padding: 0rem 1rem 0rem 2rem;
    font-size:.8rem;
  
}
.sidebar-menu{
    margin-top: 1rem;

}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 10%;
    
}
.sidebar-menu a span:first-child{
    padding-left: 1rem;
    font-size: 1.5rem; 
}
.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #008ea1;
    border-radius: 30px 0px 0px 0px;
}
.content{
    transition: margin-left 300ms;
    margin-left: 22%;    

}
header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);
    position: fixed;
    left: 19%;
    width: calc(100% - 22%);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}
.accueil{
    font-size: 1.5rem;
    padding-right: 1rem;
    margin-left: 0px;
    color: #008ea1;
}
.search-wrapp{
    border: 1px solid #008ea1;
    border-radius: 20px;
    height: 38px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapp input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.search-wrapp span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    color: #008ea1;
}
.user-wrapp{
    display: flex;
    align-items: center;

}
.user-wrapp img{
    border-radius: 50%;
    margin-right: 5rem;
}

.user-wrapp small{
    color: #ccc;
    display: inline-block;
}

.logo-admin{
    cursor: pointer;

}

#dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px;
    z-index: 1;
}

#dropdown:hover .dropdown-content{
    display: block;
    cursor: pointer;
}

.dropdown-content p{
    padding: .5rem;
}
main{
    margin-top:  80px;
    margin-left: 18%;
    background-color: #ebf6ff;
    padding: 2rem 1.5rem;
    min-height: calc(100vh);

}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
  

}
.card-single{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 3px 6px 2px rgb(0 0 0 / 10%);
}
.card-single span:first-child{
    color: #f8e80c;

}
.card-single span:last-child{
    font-size: 2rem;
}
.card-single small{
    color: grey;
}
.card-single:hover{
    background-color: #008ea1;
    color: #fff;
}
.composant{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 69% auto;
}
.case{
    background-color: #fff;
    border-radius: 10px;
}
.header-case, .body-case{
    padding: .5rem;
}
.header-case{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-case button{
    border-radius: 10px;
    background-color: #008ea1;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
}
.btn{
    background-color: #008ea1;
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-left: 5px;
}
table{
    border-collapse: collapse;
}
thead tr{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}
thead td{
    font-weight: 700;
}
td{
    padding: .5rem 1rem;
}
td .status-produit{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 1rem;
    border-radius: 50%;
}
.status-produit.color-one{
    background-color: #ec1c24;
}
.status-produit.color-two{
    background-color: #fff200;
}.status-produit.color-three{
    background-color: #b83dba;
}.status-produit.color-four{
    background-color: #00a8f3;
}.status-produit.color-five{
    background-color: #b83dba;
}
tr td:last-child{
    display: flex;
    align-items: center;
}
.tableau{
    overflow-x: auto;
    width: 100%;
}
/* test css section */

.navright{
display: flex;

}
.navleft{
  display: flex;

}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 400;
    background-color: #7c7c81;
    color: #fff;
    box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);

}
.navitem{
    padding: 10px;
}
.navitem:hover{
    color: crimson;
}

.side {
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width:30vh;
    float: left;
    margin-top: 70px;
    z-index: 300;
    padding-top: 10px;
    padding-bottom: 10px;   
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);
   

}
.content{
    display: flex;
    background: #002f7a;
    width: 100%;
    margin-left: 0%;
    padding-top: 0px;
    padding-left: 20px;
    height: 100vh;
    z-index: 100;
    margin-top: 0px;
}
.footer{
    background-color:#002f7a;
    color: #fff;
    font-size: small;
    margin-left: 15%;
    align-items: center;
    width: 100%;
}

.container{
    display: grid;
    z-index: -300;
    background-color: #002f7a;
}

.main {
    margin-left: 15%;
    background-color:#002f7a;
    width:85vw;
    float: left;
    margin-top: 70px;
    z-index: 300;
    padding-top: 10px;
    color: #fff;
    padding-left: 1%;
    padding-right: 1%;
    letter-spacing: 2px;
}
.logo{
  
        position: fixed;
        background-color: rgb(255, 255, 255);
        width:30vh;
        float: left;
        margin-top: 80px;
        z-index: 500;
        padding-top: 10px;
        padding-bottom: 10px;   
        border-radius: 10px;
        padding-left: 1%;
        padding-right: 1%;
}
.p .status{
    color: darkred;
}
.containernew{
    background-color: rgb(151, 148, 155);
    width: 500px;
}


.form-row{
    padding: 10px 0;
    display: flex;
}

.form-row label{
    padding-right: 10px;
}
.form-row input{
    flex: 1;
}

.column-layout{
    max-width: 1300px;
    background-color: rgb(180, 67, 67);
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}
.main-column{
    background-color: burlywood;
    flex: 3;
    order: 2;
    padding: 50px;

}
.sidebar-one{
    background-color: cornflowerblue;
    flex: 1;
    order: 1;
    
}
.sidebar-two{
    background-color: darkkhaki;
    flex: 1;
    order: 3;
}